* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

img {
    width: 100%;
}

h1,
h2 {
    margin-bottom: 10px;
}

p {
    line-height: 1.7;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    color: #070707;
    text-align: center;
}

body {
    background-color: rgb(3, 189, 251);
    /* fondo de color en css*/
}

.logo {
    width: 100px;
}

#chk1 {
    display: none;
    /*con esto hacemos desaparecer al input q tiene como id="chk1"*/
}

i {
    color: #020202;
    /*Con esto damos color a los iconos*/
    cursor: pointer;
    /*el cursor cambia a una mano, indicando que el usuario puede hacer clic en él para realizar una acción.*/
}

/*Vista Mobil 320px*/
/*Inicio Codigo de Navbar*/
header {
    width: 100%;
    /*Ancho del fondo de Navbar*/
    height: 100px;
    /*Altura del fondo de Navbar*/
    position: fixed;
    /*
            La propiedad CSS position: fixed se utiliza para posicionar un elemento de forma fija en relación con la ventana del navegador, independientemente de la posición de desplazamiento del documento. Esto significa que el elemento permanecerá en la misma posición incluso si el usuario se desplaza hacia arriba o hacia abajo en la página.*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    /*Un valor de z-index de 99 indica que el elemento tiene una alta prioridad en la pila de capas y estará por encima de elementos con valores de z-index menores o predeterminados.*/
    box-shadow: 0 0 10px #000;
    /*Entonces, box-shadow: 0 0 10px #000; significa que la sombra no se desplazará ni horizontal ni verticalmente (0 0), tendrá un desenfoque de 10 píxeles (10px) y será de color negro (#000).*/
    background: linear-gradient(to bottom right, #0373fc, hsl(0, 0%, 100%));
    /*Color del navbar*/
}

/*Fin Codigo de Navbar*/

/*Inicio Codigo de Menu Navbar*/
header ul {

    /*Cuando estableces flex: 2; en un elemento hijo dentro de un contenedor flexible, significa que ese elemento tiene una capacidad de crecimiento que es el doble que la de otros elementos hijos con flex: 1; dentro del mismo contenedor. En otras palabras, cuando hay espacio adicional disponible dentro del contenedor flexible, este elemento hijo con flex: 2; crecerá el doble de rápido que otros elementos hijos con flex: 1;.*/
    display: flex;
    /*
            La propiedad CSS display: flex; se utiliza para crear un contenedor flexible (flex container) que organiza a sus elementos hijos (flex items) en una disposición flexible o en filas y columnas.*/
    justify-content: space-evenly;
    position: fixed;
    top: 100px;
    right: -100%;
    background: linear-gradient(to bottom right, #0373fc, hsl(0, 0%, 100%));
    height: calc(100vh - 100px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
}


header ul li {
    list-style: none;
    /*La propiedad CSS list-style se utiliza para controlar la apariencia de las viñetas o numeración en elementos de lista (<ul> y <ol>). Cuando estableces list-style: none;, estás indicando que no deseas que se muestren viñetas o numeración para los elementos de lista.*/
}

header ul li a {
    text-decoration: none;
    /*La propiedad CSS text-decoration: none; se utiliza para quitar cualquier decoración de subrayado o tachado que se aplique al texto dentro de un elemento HTML.*/
    color: #0f0e0e;
    /*Color a las letras*/
    font-weight: 600;
    /*La propiedad CSS font-weight se utiliza para establecer el grosor o la "pesadez" de la fuente de texto. El valor numérico 600 se refiere a un grosor específico de la fuente.*/
    text-transform: uppercase;
    /*
            La propiedad CSS text-transform: uppercase; se utiliza para transformar el texto en mayúsculas. Cuando se aplica esta propiedad a un elemento HTML, todo el texto dentro de ese elemento se convertirá en letras mayúsculas.*/
}

header ul li a:hover {
    /*Este selector CSS header ul li a:hover se utiliza para aplicar un estilo específico a los enlaces (<a>) dentro de las listas (<li>) que están dentro de una lista no ordenada (<ul>) dentro de un elemento <header> cuando el usuario pasa el cursor sobre ellos (es decir, cuando están en estado :hover).*/
    border-bottom: 2px solid rgb(250, 248, 248);
    /*El estilo que se aplica en este caso es border-bottom: 2px solid cadetblue;, lo que significa que cuando el usuario pasa el cursor sobre un enlace, se agregará un borde sólido de color cadetblue en la parte inferior del enlace con un grosor de 2px.*/
}

header .menu {
    font-size: 2.5em;
    display: block;
    width: 100px;
    text-align: center;
}

#chk1:checked~ul {
    right: 0;
}

/*Fin Codigo de Menu Navbar*/

/*Inicio codigo button comprar*/
.presale_buy {
    display: flex;
    justify-content: center;
}

.buy_coint {
    border-radius: 30px;
    background-color: rgb(246, 6, 210);
    box-shadow: 0px 10px 1px #f49b02;
    /* Sombra */
    margin-top: 100px;
    height: 56px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy_coint a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.img_buy {
    padding-right: 10px;
    width: 30%;
}

/*Inicio del codigo Titulo Welcome to mr.beast meme coin community*/
.welcome {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
}

/*Codigo de Welcome to , Meme coin Community*/
.blanco {
    color: #fff;
    /*color*/
    text-shadow: 2px 4px 1px #010101;
    /* Sombra */
}

/*Codigo de Mr.Beast*/
.negro {
    font-size: 3em;
    /*tamaño de la letra*/
    color: black;
    /*Color de la letra*/
    text-shadow: 2px 4px 1px hsl(304, 98%, 49%);
    /* Sombra */
}

/*Codigo de la imagen de persona*/
.persona_mrbeast_main {
    display: flex;
    justify-content: center;
}

.persona_mrbeast {
    width: 100%;
}

/*Fin del codigo  Titulo Welcome to mr.beast meme coin community*/
/*Inicio del codigo Info*/
.info {
    padding: 25px 30px;

}

.info__uno {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 4px 1px #010101;
    /* Sombra */
    padding-bottom: 10%;
}

.info__dos {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 4px 1px #010101;
    /* Sombra */
    padding-top: 15%;
    padding-bottom: 10%;
}

.info__tres {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 4px 1px #010101;
    /* Sombra */
    padding-top: 15%;
    padding-bottom: 10%;
}

.info__cuatro {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 4px 1px #010101;
    /* Sombra */
    padding-top: 15%;
    padding-bottom: 10%;
}

/*Fin del codigo Info*/

/*mrbeast chocolate*/
.main_personauno{
    display: flex;
    justify-content: center;
}
.personauno{
    width: 100%;
}

/*Inicio de codigo de tokenomic*/

/*title tokenomic*/
.title_tokenomic {
    text-align: center;
    color: #fff;
    text-shadow: 2px 4px 1px #010101;
    /* Sombra */
    text-transform: uppercase;
}

/*Imagen youtube mrbeast*/
.youtube_mrbeast {
    display: flex;
    justify-content: center;
}

.youtube_mrbeast {
    margin: 50px auto;
}

/*Cirulo q encierra el text suministro total*/
.all_suply_main {
    display: flex;
    justify-content: center;
}

.all__suply {
    width: 100%;
    border: 3px solid #fcfcfc;
    border-radius: 100%;
}

/*Porcentaje*/
/*circulo de porcentaje*/
.porcentaje {
    /*border: 1px solid rgb(250, 30, 5);*/
    width: 100%;
}

/*Fin de codigo de tokenomic*/
/*footer*/
footer {
    border: 1px solid rgb(27, 3, 247);
    text-align: center;
    background: rgb(0, 213, 255);
    height: 100px;
    width: 100%;
}

.contact_gmail {
    color: #fff;
    margin: 30px;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: -3px 3px 8px #000000;
    /* Sombra */
}


/*media querys 360px hasta */

@media(min-width:360px) {

    /*Inicio codigo button comprar*/
    .buy_coint {
        height: 66px;
        width: 60%;
    }

    /*circulo de porcentaje*/
    .porcentaje {
        text-align: center;

    }

    .porcentaje_uno {
        width: 80%;
    }
}

/*media querys 460px hasta */

@media(min-width:460px) {

    /*Inicio codigo button comprar*/
    .buy_coint {
        height: 76px;
        width: 50%;
    }

    /*Imagen youtube mrbeast*/
    .youtube_img {
        width: 70%;
    }

    /*Cirulo q encierra el text suministro total*/
    .all__suply {
        width: 70%;
    }

    /*circulo de porcentaje*/
    .porcentaje {
        text-align: center;

    }

    .porcentaje_uno {
        width: 70%;
    }
}

/*media querys 560px hasta */

@media(min-width:560px) {
    header ul{
        width: 60%;
    }

    /*Inicio codigo button comprar*/
    .buy_coint {
        height: 86px;
        width: 40%;
    }

    .persona_mrbeast {
        width: 80%;
    }

    /*Imagen youtube mrbeast*/
    .youtube_img {
        width: 70%;
    }

    /*Cirulo q encierra el text suministro total*/
    .all__suply {
        width: 60%;
    }

    /*circulo de porcentaje*/
    .porcentaje {
        text-align: center;

    }

    .porcentaje_uno {
        width: 70%;
    }
}

/*media querys 750px hasta */

@media(min-width:750px) {

    /*Inicio codigo button comprar*/
    .buy_coint {
        width: 30%;
    }

    .persona_mrbeast {
        width: 70%;
    }

    /*Imagen youtube mrbeast*/
    .youtube_img {
        width: 60%;
    }

    /*Cirulo q encierra el text suministro total*/
    .all__suply {
        width: 50%;
    }

    /*circulo de porcentaje*/
    .porcentaje {
        text-align: center;

    }

    .porcentaje_uno {
        width: 60%;
    }
}

/*media querys 900px hasta */

@media(min-width:900px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 99;
    }

    header ul {
        flex: 2;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        width: 100%;
        top: 50px;
        left: 60px;
        height: 0px;
    }

    header ul li {
        list-style: none;
    }

    header ul li a {
        text-decoration: none;

    }

    header .menu {
        display: none;
    }

    /*Inicio codigo button comprar*/
    .buy_coint {
        width: 23%;
    }

    .persona_mrbeast {
        width: 50%;
    }
    /*mrbeast chocolate*/
    .personauno{
        width: 60%;
    }

     /*Imagen youtube mrbeast*/
     .youtube_img {
        width: 40%;
    }
    /*circulo de porcentaje*/
    .porcentaje_uno {
        width: 30%;
    }
}

/*media querys 1200px hasta */

@media(min-width:1200px){
    /*Inicio codigo button comprar*/
    .buy_coint {
        width: 18%;
    }
}